/* 
    Document   : style
    Created on : Aug 14, 2011, 2:30:36 PM
    Author     : Samuli Penttilä <samuli.penttila@gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.menulink { font-size: small; color: #000000; text-decoration: none;}
.titletext {font-family: "Futura"; font-size: xx-large;}
.stretch {background-repeat: no-repeat; background-size: 100% 100%; vertical-align: middle;}
.loginbox { vertical-align: middle; text-align: right;}
.mapwidget { width:100%; height:100%;}
.header { font-size: small; font-weight: bold; background-color: #EEEEEE;}
.tabledataOdd { font-size: small; font-weight: normal; }
.tabledataEven { font-size: small; font-weight: normal; background-color: #EEEFFF; }
.ui-widget-header { font-size: small;}
.highlighttext { font-family: "Arial"; font-size: large; color: #454545; vertical-align: text-bottom; }
.normaltext { font-family: "Times"; font-size: medium; color: #454545; vertical-align: text-bottom;}
.capital { font-family: "Arial"; font-size: xx-large; color: #183e72;}
.contentwidget { background-color: #ffffff; padding: 10px; border-width: 1px; border-color: #454545; border-style: solid;}
.twitter { vertical-align: text-bottom; float: left;}
.floatimage { float: right; margin: 0px;}
#downloadbox { float: right; margin-right: 20px; margin-left: 20px; padding: 5px; }
#downloadboxheader {padding: 5px; font: normal;}
#registerbox { visibility: hidden;}
body{ margin: 0px;}
a { color: #193760;}
td { vertical-align: top; }
#tabs-1, #tabs-2, #tabs-3 { padding: 0px; margin: 0px;}