/* 
    Document   : style
    Created on : Aug 14, 2011, 2:30:36 PM
    Author     : Samuli Penttilä <samuli.penttila@gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.menulink { font-size: small; color: #000000; text-decoration: none;}
.titletext {font-family: "Futura"; font-size: xx-large;}
.stretch {background-repeat: no-repeat; background-size: 100% 100%; vertical-align: middle;}
.loginbox { vertical-align: middle; text-align: right;}
.mainwidget { width:100%; height:100%;}
.header { font-size: small; font-weight: bold; background-color: #EEEEEE;}
.tabledataOdd { font-size: small; font-weight: normal; }
.tabledataEven { font-size: small; font-weight: normal; background-color: #EEEFFF;}
.ui-widget-header { font-size: small; }
.normaltext { font-family: "Times"; font-size: medium; color: #454545; vertical-align: text-bottom;}
.capital { font-family: "Times"; font-size: x-large; color: #183e72;}
.contentwidget { background-color: #ffffff; }
.twitter { vertical-align: text-bottom; float: left;}
.floatimage { float: right; margin: 0px;}
body{ margin: 0px;}
a { color: #193760;}
td { vertical-align: top; }

